  *{
    margin: 0;
    padding: 0;
}
body{
    font-family: Speedee,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
}
header{
    
 box-shadow: 0 .0625rem .5rem 0 rgba(0,0,0,.04),0 .0625rem .3125rem 0 rgba(0,0,0,.04);
    
}
.container{
    width: 1170px;
    margin: auto;
}
.Row1{
    display: flex;
    justify-content: space-between;
  
}
.Left1{
    display: flex;
    padding: 10px;
    align-items: center;
}
.Left1 p,.Right1 p{
    padding: 10px;
}
.L1{
    border: none;
    padding: 10px;
    margin-left: 125.5px;
    
}
.red{
    color: #d90007;
}
.Right1{
    display: flex;
    padding: 10px;
    align-items: center;
    
}
.Right1 .Button{
    background-color: #ffbc0d;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}
.Right1 a{
    margin: 0 10px;

}
.Menu ul{
    list-style: none;
    display: flex;
    margin: 20px;
    font-size: 18px;
    
}
.Row2{
    display: flex;
    align-items: flex-end;
    margin-top: -38px;
}
.Img1{
    margin-top: 2px;
}
.Menu li{
    padding: 20px;
}
.Content{
    display: flex;
    padding-left: 180px;
    padding-right: 200px;
    margin-top: 90px;
    
}
.Text1 a{
    background-color: #ffbc0d;
    text-decoration: none;
    border-radius: 5px;
    padding: 13px;
    width: 150px;
    margin-top: 35px;

    
}
.Text1{
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #292929;
}
.Text1 h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;

}
.Text1 .Second2{
    font-size: 15px;
    line-height: 20px;
    padding-top: 20px;

}
.Text1 .Third3{
    font-size:10px ;
    margin-top: 20px;
}
.Content1{
    display: flex;
    padding-left: 180px;
    padding-right:200px ;
    margin-top: 130px;
}
.Text2{
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Text2 h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color:#292929 ;
}
.Text2 .Second2{
    font-size: 14px;
    line-height: 20px;
    padding-top: 20px;

}
.Text2 .Third3{
    font-size:9px ;
    margin-top: 20px;
}
.Text2 a{
    background-color: #ffbc0d;
    text-decoration: none;
    border-radius: 5px;
    padding: 13px;
    width: 150px;
    margin-top: 35px;

}
.Content2{
    display: flex;
    padding-left: 180px;
    padding-right:200px ;
    margin-top: 130px;

}
.Text3{
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.Text3 h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color:#292929 ;

}
.Text3 .Second2{
    font-size: 14px;
    line-height: 20px;
    padding-top: 20px;

}
.Text3 .Third3{
    font-size:10px ;
    margin-top: 20px;

}
.Text3 a{
    background-color: #ffbc0d;
    text-decoration: none;
    border-radius: 5px;
    padding: 13px;
    width: 179px;
    margin-top: 35px;

}
.Content3{
    display: flex;
    padding-left: 180px;
    padding-right:200px ;
    margin-top: 130px;
}
.Text4{
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Text4 h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color:#292929 ;

}
.Text4 .Second2{
    font-size: 14px;
    line-height: 20px;
    padding-top: 20px;

}
.Text4 .Third3{
    font-size:10px ;
    margin-top: 20px;
}
.Text4 a{
    background-color: #ffbc0d;
    text-decoration: none;
    border-radius: 5px;
    padding: 13px;
    width: 255px;
    margin-top: 35px;

}
.Container4{
    display: flex;
    padding-left: 180px;
    padding-right:200px ;
    margin-top: 130px;
}
.Text5{
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.Text5 h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color:#292929 ;

}
.Text5 .Second2{
    font-size: 14px;
    line-height: 20px;
    padding-top: 20px;
}
.Text5 .Third3{
    font-size:10px ;
    margin-top: 20px;
}
.Text5 a{
    color:#292929;
    background-color: #ffbc0d;
    text-decoration: none;
    border-radius: 5px;
    padding: 13px;
    width: 162px;
    margin-top: 35px;
}
.Container5{
    display: flex;
    padding-left: 180px;
    padding-right:200px ;
    margin-top: 130px;
}
.Text6{
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Text6 h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color:#292929 ;
}
.Text6 .Second2{
    font-size: 14px;
    line-height: 20px;
    padding-top: 20px;

}
.Text6 .Third3{
    font-size:10px ;
    margin-top: 20px;
}
.Text6 .Hidden{
    color:#292929;
    background-color: #ffbc0d;
    text-decoration: none;
    border-radius: 5px;
    padding: 13px;
    width: 162px;
    margin-top: 35px;
}
.Common{
    display: flex;
    justify-content:space-around;
    padding: 95px;
}
.Common1 li{
    list-style: none;
    padding: 4px;
    

}
.Bold{
    font-weight: bold;
    
}
.Socialmedia{
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
    
    
}
.SmLeft img{
    margin-right: 10px;

}
.Last{
    display: flex;
    justify-content: space-between;
    margin-right: 200px;
    margin-left: 180px;
    margin-top: 40px;


}
.First1{
    display: flex;
}
.First1 p{
    padding-right: 25px;
}
.footer2{
    border-bottom: 1px solid #292929;
    margin-left: 180px;
    margin-right: 200px;

    
}
.Last2{
    display: flex;
    margin-left:179px;
    margin-top: 25px;
    margin-bottom:150px;
}
.First2 p{
    padding-right: 50px;

}
li:hover{
    cursor: pointer;
}
.ft-img:hover{
    cursor: pointer;
}
